<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Explore | UJournal</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <%- include('partials/header'); %>
  <!-- <div class="columns">
    <div class="tile is-vertical is-3">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification ">
            <p class="title">Used Hashtags</p>
            <div class="tagSection"></div>
          </article>
          <article class="tile is-child notification">
            <p class="title">Liked Entries</p>
          </article>
        </div>
      </div>
    </div>

  <div class="cardSection"></div>
  </div>
  <script type="text/javascript" src="/javascripts/entries.js"></script>
</body>

</html>
