<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Explore | UJournal</title>
</head>

<body>
  <nav class="navbar">
    <a href="/entries">Your Entries</a>
    <a href="/explore/entries">Explore</a>
    <a href="/">About</a>
    <a href="/logout">Logout</a>
  </nav>

  <form method="get" id="search">
    <label for="searchbox">Search For a Tag!</label>
    <input type="text" name="search" id="searchbox">
  </form>

  <section id="explore-entries" class='container'>

  </section>

  <script type="text/javascript" src="/javascripts/explore.js"></script>
</body>

</html>